# ========================================================
# Configurações do Banco de Dados MongoDB
# ========================================================
MONGO_URI=mongodb://localhost:27017/

# ========================================================
# Configurações da API OpenF1
# ========================================================
API_BASE_URL=https://api.openf1.org/v1

# ========================================================
# Parâmetros de Coleta (Fórmula 1)
# ========================================================
# Exemplo 1: GP da Itália 2023 (Monza - Corrida)
# YEAR=2023
# MEETING_KEY=1219
# SESSION_KEY=9159

# Exemplo 2: GP da Arábia Saudita 2024 (Jeddah - Corrida)
YEAR=2024
MEETING_KEY=1230
SESSION_KEY=9476
