# ========================================================
# Configurações do Banco de Dados MongoDB
# ========================================================
MONGO_URI=mongodb://localhost:27017/
MONGO_DB_NAME=cartola_data_unipe

# ========================================================
# Configurações da API Cartola FC
# ========================================================
API_BASE_URL=https://api.cartola.globo.com

# ========================================================
# Nomes das Coleções do MongoDB (Opcional)
# ========================================================
COL_CLUBES=clubes_rodada_atual
COL_ATLETAS=atletas_rodada_atual
COL_MERCADO=mercado_rodada_atual
COL_POSICOES=posicoes
